@import "./fonts.css";

@import "./theme.css";

@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: var(--background);

    color: var(--text-primary);

    font-family: "Plus Jakarta Sans",
        sans-serif;

}

code,
pre,
.font-mono {
    font-family: "JetBrains Mono", monospace;
}